.bi-list {
  border-top: 15px solid mediumpurple;
}
.bi-list-header.list-header-md {
  margin: 0;
  border: none;
}
.bi-list-header.list-header-ios {
  border: none;
  margin: 10px 0 0;
}
.slide-zoom {
  height:100%;
}
.slide-contact-list ion-content{
  height:calc(100vh - 35px);
}