ion-fab[bottom] {
  bottom: 52px;
  button{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .fab-detail{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .button-inner{
    font-size: 10px;
  }
}