<!--
  Generated template for the ContactAddFriendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="g-header clearfix">
        <ion-navbar>
            <span class="bi-icon-down back" navPop></span>
            <span class="g-header-title">ADD FRIEND</span>
            <span class="send" (click)="sendTo()">SEND</span>
        </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="add-friend-wrap">
        <div class="add-friend-info">
            <ion-item>
                <ion-avatar class="tip-owner-profile" item-start>
                    <img class="g-user-profile34"
                         src="{{config.resourceDomain}}{{friend?.user_profile_path}}">
                </ion-avatar>
                <p class="f19-f">{{friend?.work_name}}</p>
                <p *ngIf="friendType == 2">
                    <span class="f3-f">{{friend?.p_name}}</span>
                    <!--<span class="level">L2</span>-->
                </p>
            </ion-item>
        </div>

        <div class="company">
            <p class="f19-f">RELATION</p>
            <p class="f5-f" *ngIf="friendType == 2">Cooperator <span>|</span> {{friend?.company_name}}</p>
            <p class="f5-f" *ngIf="friendType == 1">PERSONAL FRIEND</p>
        </div>

        <div class="g-title g-margin-top20 f9-f">MESSAGE</div>
        <div class='g-title-content'>
            <ion-input type="text" class="f19-f" [(ngModel)]="remark"></ion-input>
        </div>
    </div>
</ion-content>
