notification-new-contact {
  .new-contact-feedback{
    margin-top: 10px;
    font-size: 11px;
  }
  .text-div{
    margin-top: 10px;
    font-size: 11px;
    textarea{
      font-size: 11px;
      width: 100%;
    }
  }
}
