<!-- Generated template for the ForgetPasswordComponent component -->
<ion-header class="g-header register-header">
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content class="register-content forget-content">
  <ion-slides pager #Slides [hidden]="showComplete" class="forget-margin">
    <ion-slide class="forget-item">
      <div ion-text class="f9-f absolute register-title">SELECT WAY TO RESET YOUR PASSWORD</div>
      <p ion-text text-left class="forget-tit padding-left25">PERSONAL</p>
      <ion-row>
        <ion-col col-4 ion-text text-left padding-left class="padding-left25">
          <a class="choose-btn" [class.choose-btn-active]="showEmail" (click)="clickSendEmail($event)">EMAIL</a>
        </ion-col>
        <ion-col col-4 class="forget-or">OR</ion-col>
        <ion-col col-4 ion-text text-right class="padding-right25">
          <a class="choose-btn" [class.choose-btn-active]="!showEmail" (click)="clickSendPhone($event)">PHONE</a>
        </ion-col>
      </ion-row>
      <form novalidate [formGroup]="emailForm" *ngIf="showEmail" class="form-email">
        <ion-item class="item-input-style">
          <ion-input type="email" placeholder="email" formControlName="email" class="f49-f"></ion-input>
          <span class="bi-icon-arrow2 personal-mail input-right-icon" item-end *ngIf="email.valid" (click)="sendEmail($event)"></span>
        </ion-item>
        <div *ngIf="showEmail && email.invalid && (email.dirty || email.touched)" text-left class="input-error-msg default-error-padding">
          <div *ngIf="email.errors.required">email is required.</div>
          <div *ngIf="email.errors.forbidden">email is not correct.</div>
        </div>
        <div text-left class="input-error-msg default-error-padding" *ngIf="email_error?.show">{{email_error.text}}</div>
      </form>

      <form *ngIf="!showEmail" class="form-email">
        <ion-item class="item-input-style">
          <ion-input type="number" [(ngModel)]="phoneValue" placeholder="phone" name="phone" #phone="ngModel" required pattern="1[0-9]{10}" class="f49-f"></ion-input>
          <span class="bi-icon-arrow2 personal-mail input-right-icon" item-end [hidden]="phone.invalid" (click)="resetPwdByPhone($event)"></span>
        </ion-item>
        <ion-grid class="code-lst" [hidden]="phone.invalid">
          <ion-row>
            <ion-col col-2 *ngFor="let num of tplAuthCodeList; let i=index;">
              <input #codeInput (keyup)="autoTab($event, i, codeInput)" (focus)="currentTab=i" maxlength="1" class="item-code-input" type="text">
            </ion-col>
          </ion-row>
        </ion-grid>
        <div *ngIf="!showEmail && phone.invalid && (phone.dirty || phone.touched)" text-left class="input-error-msg default-error-padding">
          <div *ngIf="phone.errors.required">phone is required.</div>
          <div *ngIf="phone.errors.pattern">phone is not correct.</div>
        </div>
        <div text-left class="input-error-msg default-error-padding" *ngIf="phone_alert.show">{{phone_alert.text}}</div>
        <div text-left class="input-error-msg default-error-padding" *ngIf="code_error.show">{{code_error.text}}</div>
        <div *ngIf="phone.valid">
          <button ion-button clear block (click)="clickSendAuthCode($event)">
            {{num? num +' s' : 'send auth code'}}
          </button>
        </div>
      </form>
    </ion-slide>


    <!--第二页-->
    <ion-slide class="forget-item">
      <!--reset-pwd-->
      <form novalidate [formGroup]="resetForm" [hidden]="showEmailLink" class="forget-phone">
        <div ion-text class="f9-f absolute register-title">SET YOUR NEW PASSWORD</div>
        <ion-item class="item-input-style">
          <ion-label class="personal-phone" floating>NEW PASSWORD</ion-label>
          <ion-input type="password" [(ngModel)]="resetData.password" formControlName="password" class="f49-f"></ion-input>
        </ion-item>
        <ion-item class="item-input-style">
          <ion-label floating class="again-item">AGAIN</ion-label>
          <ion-input type="password" formControlName="confirmPwd" [(ngModel)]="resetData.confirm_password" (keyup)="compareOldPwd()" class="f49-f"></ion-input>
          <span class="bi-icon-arrow2 personal-phone input-right-icon" item-end (click)="clickResetPassword($event)"></span>
        </ion-item>

        <div *ngIf="password.invalid && (password.dirty || password.touched)" text-left class="input-error-msg default-error-padding">
          <div *ngIf="password.errors.required">password is required.</div>
          <div *ngIf="password.errors.minlength || password.errors.maxlength">The length of the password must be between 8 and 20.</div>
        </div>
        <div text-left class="input-error-msg default-error-padding" *ngIf="confirmPwd_alert.show">{{confirmPwd_alert.text}}</div>
      </form>

      <div [hidden]="!showEmailLink">
        <div text-center class="forget-email-monkey">
          <img src="../assets/image/monkey-icon2.png" />
        </div>
        <div text-center class="forget-email-text">
          We have send a link to your
          personal email
        </div>
        <button ion-button outline block class="forget-open-email f23-f">open email</button>
      </div>
    </ion-slide>
  </ion-slides>

  <!--complete 页面-->
  <div [hidden]="!showComplete">
    <h3>Completed setting!!!</h3>
    <button ion-button outline block [navPush]="'login'"> BEGIN</button>
  </div>
</ion-content>
